@charset "UTF-8";

@-ms-viewport { width: device-width; }

/*
   Dependencies
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import "partials/base/mixins";
@import "resetv2";
@import "partials/all";

/*
   Base Style
   ========================================================================== */

@include mq($screen-sm) {
  *:focus { outline: none !important; }
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font: {
    size: 12px;
  }
  font-smoothing: antialiased;
  font-family: 'PT Sans Narrow', sans-serif;
  text-rendering: optimizeLegibility;
}

* { box-sizing: inherit; }