$font-size: 16px;
$line-height: 1.5;
$lines-to-show: 2;

.product {
  &__link {
    .product__media & {
      display: block;
    }

    &.button {
      color: $c-blue;
      border-color: $c-blue;
      font-size: 19px;
    }
  }

  &__actions {
    font-family: $f-base;

    .product--shelf & {
      display: none;
      position: absolute;
      bottom: 10px;
      width: 100%;
      justify-content: space-around;
      font-size: 16px;
    }


  }

  &__action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: $c-gray;
    z-index: 20;
    border-top: 1px solid $c-gray;
    padding: 5px;

    &-top {
      margin-right: 20px;
    }

    &-bottom {
      width: 100%;
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
  }

  &__more {
    margin: 10px 0;
    position: relative;
    display: none;

    button {
      width: 100%;
      background-color: rgba(237, 237, 237, 1);
      background: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
      color: $c-primary;
      font-size: 18px;
      text-transform: uppercase;
      font-style: italic;
      text-align: left;
      justify-content: flex-start;
      padding-left: 30px;
      flex: 1px;
    }

    strong {
      margin-right: 10px;
    }

    &.is-active {
      display: flex;
    }

    i {
      color: #EBB02A;
      font-size: 30px;
      margin-left: 15px;
    }
  }

  .buy-button {
    text-align: center;
    color: #fff;
    background-color: #8CC44B;
    font-size: 18px;
    padding: 8px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex: 1;

    &:hover {
      text-decoration: none;
      background-color: darken(#8CC44B, 10%);
    }

    &::before {
      content: $icon-cart;
      font-family: 'icomoon';
      font-size: 25px;
      margin-right: 10px;
    }
  }

  &__header {
    position: relative;

    .product--shelf & {
      border-radius: 5px;
      overflow: hidden;
      max-height: 365px;
      border: 1px solid $c-gray;
      padding: 2px;
    }


  }

  &__media {


    .thumbs {
      width: 100%;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;


      li {
        width: 100%;
      }

      a {
        width: 100%;
        display: block;


        img {
          width: 100%;
        }
      }
    }

    #include {
      width: 100%;
      padding: 0 60px;
      overflow: hidden;
      display: none;
    }
  }

  &__buy {
    color: $c-white;
    background-color: #8CC44B;
    border-color: #8CC44B;

    &:hover {
      text-decoration: none;
      background-color: darken(#8CC44B, 10%);
    }

    .product--shelf & {
      font-size: 16px;
      width: 100%;
      margin: 10px 0;
    }
  }

  &__name,
  .productName {
    color: $c-black;
    font-family: $f-base;
    font-weight: 700;

    .product--shelf & {
      text-align: center;
      padding: 5px;
      font-size: 16px;

      .product__link {
        color: $c-black;

        &:hover {
          text-decoration: none;
        }
      }

      overflow: hidden;
      height: 55px;
    }

    .product--shelf-flip & {
      font-weight: normal;
      font-size: 16px;
      text-align: left;
    }

  }

  .productName {
    font-size: 20px;
    text-align: center;
  }

  &__category {
    .product--shelf & {
      padding: 5px;
      text-align: center;

      .button {
        text-transform: uppercase;
        font-size: 13px;
        border-width: 2px;
        border-color: #9e9e9e;
      }
    }
  }

  &__price {
    text-align: center;

    .product--shelf & {
      padding: 5px;
      text-align: center;
      font-family: $f-base;
      min-height: 115px;

      .price__list {
        font-size: 14px;
        display: block;
      }

      .price__boleto {
        font-size: 16px;
        display: block;
        font-weight: 700;
      }

      .price__instament {
        font-size: 14px;
      }

      .price__installment {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
      }

      .price__list {
        font-weight: 700;
        margin-bottom: 5px;
      }

      .price__old {
        font-size: 12px;
        text-decoration: line-through;
        text-align: left;
      }
      min-height: 115px;
    }

    .product--shelf-flip & {
      text-align: left;

      .price__list {
        margin-bottom: 0;
      }
    }
  }

  &__code {
    display: flex;
    justify-content: center;
    font-size: 10px;
  }


  &__skus {
    padding: 10px 0;
    text-align: center;

    input {
      display: none;
    }

    label {
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      display: block;
      margin-right: 10px;

      &.checked,
      &:hover {
        border-color: $c-primary;
        background-color: $c-primary;
        color: #ffffff;
        cursor: pointer;
      }
    }

    .specification {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .skuList {
      span {
        display: flex;
      }
    }

    li.select {
      height: auto;

      &:after {
        display: none !important;
      }
    }
  }

  &__qtd {
    display: flex;
    align-items: stretch;
    border: 1px solid #dcdcdc;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 52px;

    .button {
      border: none;
      font-size: 20px;
      padding: 0;
      width: 30px;
      height: 53px;
    }

    input {
      border: none;
      font-size: 20px;
      padding: 5px;
      width: 50px;
      text-align: center;
    }
  }

  &__shipping {
    display: flex;
    border: 1px solid #dcdcdc;
    padding: 15px 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

    &-text {
      text-align: center;
      margin-right: 10px;

      i {
        font-size: 22px;
        color: #bdbdbd;
      }

      span {
        display: block;
        text-transform: uppercase;
        color: #1f1f1f;
        font-weight: 700;
        font-size: 14px;
      }
    }

    #popupCalculoFreteWrapper,
    #calculoFrete .header,
    .quantity {
      display: none;
    }

    .prefixo {
      font-size: 0;

      input {
        font-size: 14px;
      }
    }

    fieldset {
      border: none;
      display: flex;
    }

    .frete-calcular {
      display: flex;
      flex-direction: row-reverse;
    }

  }

  &__description {
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 30px;
    display: none;

    &-title {
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 10px;
      font-size: 16px;
      font-family: $f-secondary;

    }

    #caracteristicas {
      h4.Especificacoes {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      table.Especificacoes {
        width: 100%;

        tr {
          padding: 8px 10px;
        }

        tr.even {
          background-color: #fff;
        }

        tr+tr {
          border-top: 1px solid #000;
        }

        td,
        th {
          padding: 5px;
        }
      }
    }
  }



  &__secure {
    &-buy {
      padding: 20px 0;

      .button--secure {
        width: 100%;
        display: flex;
        padding: 8px 5px;
        height: 63px;
        justify-content: center;
        align-items: center;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        background-color: #fafafa;

        &:hover {
          text-decoration: none;
        }

        &:last-child {
          margin-left: 10px;
        }
      }

      i {
        font-size: 25px;
        color: $c-primary;
        margin-right: 10px;
      }

      span {
        flex-basis: 70%;
        color: $c-primary;
        font-size: 13px;
      }

      strong {
        display: block;
      }
    }

    &-imagem {
      display: flex;
      align-items: center;
      padding: 10px 0;

    }

    &-title {
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-size: 12px;
      font-family: $f-secondary;
    }
  }

  &__share {
    padding: 10px 21px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;

    .share__text {
      font-size: 12px;
      font-family: $f-secondary;
      text-transform: uppercase;
      margin-right: 10px;
      color: #000000;
    }

    .share__list li {
      margin: 0 5px;

    }

    .share__list i {
      font-size: 20px;
    }
  }

  .button--add-list {
    i {
      margin-right: 10px;
    }
  }


}


.price {
  &__boleto {
    font-size: 18px;
  }

  &__boleto,
  .skuBoletoPrice {
    color: $c-primary;
  }

  &__list,
  .skuBestPrice {
    color: $c-black;
  }

  .skuBoletoPrice {
    font-size: 24px;
    font-style: normal;
  }

  .valor-de,
  .valor-por {
    font-size: 0;

    strong {
      font-style: normal;
    }
  }

  .valor-por {
    strong {
      font-size: 24px;
    }
  }

  .valor-de {
    width: 100%;

    strong {
      font-size: 18px;
      font-weight: normal;
      text-decoration: line-through;
      color: #9c9c9c;
    }
  }

  .valor-dividido {
    width: 100%;

    strong,
    .skuBestInstallmentNumber,
    .skuBestInstallmentNumber span {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: #565656;
    }
  }



  .skuBestInstallmentNumber {
    &:before {
      content: 'em até '
    }

    &:after {
      content: ' de'
    }
  }

  .preco-a-vista {
    display: none !important;
  }

  .descricao-preco {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .economia-de {
    color: $c-yellow;
    font-style: normal;
    display: block;
    margin-left: 10px;

    &:after {
      content: ")";
      display: inline-block;
    }

    &:before {
      content: "(";
      display: inline-block;
    }
  }

  .valor-boleto {
    width: 100%;
  }
}

.product__main {
  .price {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__old {
      width: 100%;
      font-size: 18px;
      font-weight: normal;
      text-decoration: line-through;
      color: #9c9c9c;
    }

    &__best {
      font-size: 24px;
      font-weight: 700;
    }

    &__economy {
      color: $c-yellow;
      margin-left: 10px;
    }

    &__installments {
      font-size: 18px;
      strong {
        color: $c-primary;
      }
    }

    &__boleto {
      font-size: 28px;
      color: #000;

      strong {
        color: $c-primary;
      }
    }
  }
}

.shipping {
  flex-basis: 75%;

  &__form {

    border: 1px solid #e8e8e8;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;

    input {
      box-shadow: none !important;
      border: none !important;
      outline: none !important;

    }

    .is-expanded {}

    .button {
      background-color: #bdbdbd;
      color: $c-white;
      text-transform: uppercase;
      font-size: 18px;
      border: none;
      font-weight: 700;
    }
  }

  &__link {
    color: $c-primary;
    text-align: center;
    width: 100%;
    display: block;
    margin: 10px;
    font-weight: 700;
    font-size: 16px;
  }
}


.share {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
  }

  a:hover {
    text-decoration: none;
  }

  i {
    color: #BBBBBB;
  }
}

.buy-more {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  z-index: 20;
  top: 41px;

  &.is-active {
    display: block;
  }

  &__item {
    padding: 10px;
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 18px;

    strong {
      color: $c-primary;
    }
  }

  &__inner {
    background: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    padding: 20px;
    border: 1px solid #eee;
  }
}

.button--description {
  font-family: $f-secondary;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 10px;
  height: auto;

  i {
    font-size: 20px;
    color: #BBBBBB;
  }
}


.swal-button.button {
  font-weight: 300;
}

.swal-button.button--primary {
  color: $c-white !important;
}

.product {


  .button--garantia {
    display: none;
  }

  .product__shipping .shipping__result {
    width: 100%;
    position: relative
  }

  .product__shipping__result {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0 !important
  }

  .product__shipping-close {
    position: absolute;
    right: 0;
    top: -8px;
    content: 'x';
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    border: none;
    color: $c-primary;
  }


  .product__shipping-table {
    border-collapse: collapse
  }

  .product__shipping-table__row:first-child {
    border-top: 1px solid #000;
  }

  .product__shipping-table__row {
    border-bottom: 1px solid #000;
  }

  .product__shipping-table__cell {
    padding: 5px;
    padding: 8px 0;
    border-bottom: 1px solid #000
  }

  .product__shipping-table__cell:first-child {
    border-top: 1px solid #000
  }

  .product-shipping-table__cell span:first-child {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    line-height: 36px;
    min-width: 40px;
    display: inline-block;
    margin-right: 30px
  }


  .section__buy-together {
    display: none;
  }

  .texto {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .texto-garantia,
  .texto-troca {
    display: none;
  }
}
