extends ../layouts/default.pug

block vars
  - var pageTitle = 'Categoria'
  - var bodyClass = 'catalog buy-list'

block content
    section.section__page.section__diff
        .container
          include ../vtexParts/diff.pug

    section.section__page.section__shelf.container



block scripts
    script(src='/arquivos/vtex-smartResearch.js?v=%PROJECT_VERSION%')
