footer.footer
  .footer__area.footer__main.container
    
      .footer__inner
           
        .footer__box
          h3.footer__title Formas de Pagamento
          .footer__media
            img(src="/arquivos/payments.png")/
        .footer__box
          h3.footer__title Sua compra segura
          .footer__media
            img(src="/arquivos/security.png")/
                              
  .footer__area.footer__copyright.container
    
      .footer__inner
        .footer__copyright-text
          | Casa e Garagem - CNPJ: 00.000.000/0000-00 Todos os direitos reservados. 2018
        .footer__develop
          a.logo__ecore(href="", target="_blank")
            img(src="/arquivos/ecore-logo.png")/
          a.logo__vtex(href="", target="_blank")
            img(src="/arquivos/vtex-logo.png")/  
