footer.footer
  .footer__area.footer__top
    .container
      .footer__contact
        .footer__contact-text
          span.footer__contact-title
            strong OPA!
            | Precisa de ajuda?
          span.footer__contact-subtitle
            | Chama a gente! Não somos robô, queremos te ouvir.
        .footer__contact-bar
          span.contact__phone.contact__box
            i.icon-phone
            strong Televendas:
            span
              a(href="tel:(24) 2221-2353") (24) 2221-2353
          span.contact__help.contact__box
            i.icon-help
            strong SAC:
            span
              a(href="tel:(24) 2221-2353") (24) 2221-2353
          span.contact__whatsapp.contact__box
            i.icon-whatsapp
            strong Whatsapp:
            span
              a(href="https://api.whatsapp.com/send?phone=5524993126425") (24) 99312-6425
  .footer__area.footer__main
    .container
      .footer__inner
        .footer__box
          h3.footer__title Central de Ajuda
          .footer__menu
            ul.menu-list
                li
                    a(href="/institucional/quem-somos") Quem Somos
                li
                    a(href="/institucional/politica-de-privacidade") Privacidade
                li
                    a(href="/institucional/politica-de-entrega") Política de Entrega
                li
                    a(href="/institucional/politica-de-troca-e-devolucao") Política de Troca e Devolução
                li
                    a(href="/institucional/pagamento") Pagamento
                li
                    a(href="/institucional/duvidas-frequentes") Dúvidas Frequentes
        .footer__box
          h3.footer__title Formas de Pagamento
          .footer__media
            img(src="/arquivos/payments.png")/
        .footer__box
          h3.footer__title Sua compra segura
          .footer__media
            img(src="/arquivos/security.png")/
        .footer__box
          h3.footer__title Fique por dentro das nossas novidades
          .footer__newsletter
            .newsletter
              .newsletter__inner
                form.form
                  .field.is-horizontal
                    .field-body
                      .field
                        .control
                          input.input(type="text", name="whatsapp", placeholder="Whatsapp")/
                      .field
                        .control
                          input.input(type="email", name="email", placeholder="E-mail")/
                      button.button.button--newsletter Cadastrar
            .social-links
              span.social-links__text Me segue ;)

              ul.social-links__list
                li.social-links__item
                  a(href="//instagram.com/casaegaragem", rel="nofollow", target="_brank")
                    include ../../svg/ic_instagram.svg
                li.social-links__item
                  a(href="//:facebook.com/casaegaragem", rel="nofollow", target="_brank")
                    include ../../svg/ic_facebook.svg
                li.social-links__item
                  a(href="//:youtube.com/channel/UCX0PHuVfVrB9dg_yUwpDojQ", rel="nofollow", target="_brank")
                    include ../../svg/ic_youtube.svg
  .footer__area.footer__copyright
    .container
      .footer__inner
        .footer__copyright-text
          | Casa e Garagem - CNPJ: 21.859.785/0001-22 Todos os direitos reservados. 2018
        .footer__develop
          a.logo__ecore(href="", target="_blank")
            img(src="/arquivos/ecore-logo.png")/
          a.logo__vtex(href="", target="_blank")
            img(src="/arquivos/vtex-logo.png")/
