.product {
  .section__page {
    padding: 10px 0;
  }

  .button--garantia {
    display: none;
  }

    .product__shipping .shipping__result {
        width: 100%;
        position: relative
    }

    .product__shipping__result {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px 0 !important
    }

    .product__shipping-close {
        position: absolute;
        right: 0;
        top: -8px;
        content: 'x';
        font-size: 17px;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        border: none;
        color: $c-primary;
    }


    .product__shipping-table {
        border-collapse: collapse
    }

    .product__shipping-table__row:first-child {
        border-top: 1px solid #000;
    }

    .product__shipping-table__row {
        border-bottom: 1px solid #000;
    }

    .product__shipping-table__cell {
        padding: 5px;
        padding: 8px 0;
        border-bottom: 1px solid #000
    }

    .product__shipping-table__cell:first-child {
        border-top: 1px solid #000
    }

    .product-shipping-table__cell span:first-child {
        color: #333333;
        font-size: 13px;
        font-weight: 700;
        line-height: 36px;
        min-width: 40px;
        display: inline-block;
        margin-right: 30px
    }


    .section__buy-together {
        display: none;
    }
}
