nav.navbar.js-make-menu(role='navigation', aria-label='dropdown navigation')
  #toda-loja.navbar-item.is-first.has-dropdown.is-hoverable
    a.navbar-link(href='/')
      i.icon-menu
      | Toda Loja
    .navbar-dropdown
        .navbar-dropdown-items
            h3 Ferramentas Elétricas
            a.navbar-item.navbar-item-0(href='/ferramentas-eletricas/esmerilhadeiras')
                | Esmerilhadeiras
            a.navbar-item.navbar-item-1(href='/ferramentas-eletricas/furadeiras')
                | Furadeiras
            a.navbar-item.navbar-item-1(href='/ferramentas-eletricas/serra-tico-tico')
                | Serra Tico Tico
            a.navbar-item.navbar--all.navbar-item-1(href='/ferramentas-eletricas')
              | Ver todos   
        .navbar-dropdown-items
            h3 Ferramentas Manuais
            a.navbar-item.navbar-item-1(href='/ferramentas-manuais/jogo-de-soquetes')
                | Jogo de Soquetes
            a.navbar-item.navbar-item-2(href='/ferramentas-manuais/alicates')
                | Alicates
            a.navbar-item.navbar-item-5(href='/ferramentas-manuais/torno-morsa')
                | Torno/Morsa
            a.navbar-item.navbar--all.navbar-item-1(href='/ferramentas-manuais')
                | Ver todos     
        .navbar-dropdown-items
            h3 Iluminação
            a.navbar-item.navbar-item-1(href='/material-eletrico/iluminacao/lampadas')
                | Lâmpadas
            a.navbar-item.navbar-item-2(href='/material-eletrico/iluminacao/refletores')
                | Refletores
            a.navbar-item.navbar-item-5(href='/material-eletrico/iluminacao/tomadas-e-interruptores')
                | Torno/Morsa
            a.navbar-item.navbar--all.navbar-item-1(href='/material-eletrico/iluminacao')
                | Ver todos     
        .navbar-dropdown-items
            h3 Material Elétrico
            a.navbar-item.navbar-item-0(href='/material-eletrico/fios-e-cabos')
                | Fios e cabos
            a.navbar-item.navbar-item-2(href='/material-eletrico/disjuntores')
                | Disjuntores
            a.navbar-item.navbar-item-5(href='/material-eletrico/iluminacao')
                | Iluminação
            a.navbar-item.navbar--all.navbar-item-1(href='/material-eletrico')
                | Ver todos     
        .navbar-dropdown-items
            h3 Construção Civil
            a.navbar-item.navbar-item-0(href='/construcao-civil/telas')
                | Telas
            a.navbar-item.navbar-item-2(href='/construcao-civil/impermeabilizacao')
                | Impermeabilização
            a.navbar-item.navbar-item-5(href='/construcao-civil/bobinas-de-aluminio')
                | Bobinas de Alumínio
            a.navbar-item.navbar--all.navbar-item-1(href='/construcao-civil')
                | Ver todos     
        .navbar-dropdown-items
            h3 Ferragens e Segurança
            a.navbar-item.navbar-item-0(href='/ferragens-e-seguranca/fechaduras')
                | Fechaduras
            a.navbar-item.navbar-item-2(href='/ferragens-e-seguranca/cadeados')
                | Cadeados
            a.navbar-item.navbar-item-5(href='/ferragens-e-seguranca/dobradicas')
                | Dobradiças
            a.navbar-item.navbar--all.navbar-item-1(href='/ferragens-e-seguranca')
                | Ver todos     
        .navbar-dropdown-items
            h3 Casa e Jardim
            a.navbar-item.navbar-item-0(href='/casa-e-jardim/pulverizadores')
                | Pulverizadores
            a.navbar-item.navbar-item-2(href='/casa-e-jardim/ferramentas-para-jardinagem')
                | Ferramentas para Jardinagem
            a.navbar-item.navbar-item-5(href='/casa-e-jardim/eletrodomesticos')
                | Eletrodomésticos
            a.navbar-item.navbar--all.navbar-item-1(href='/casa-e-jardim')
                | Ver todos     
        .navbar-dropdown-items
            h3 EPI
            a.navbar-item.navbar-item-0(href='/epi/cordas')
                | Cordas
            a.navbar-item.navbar-item-2(href='/epi/botas')
                | Botas
            a.navbar-item.navbar-item-5(href='/epi/luvas')
                | Luvas
            a.navbar-item.navbar--all.navbar-item-1(href='/epi')
                | Ver todos     
        .navbar-dropdown-items
            h3 Automotivo
            a.navbar-item.navbar-item-0(href='/automotivo/politriz')
                | Politriz
            a.navbar-item.navbar-item-2(href='/automotivo/macaco-hidraulico')
                | Macaco Hidráulico
            a.navbar-item.navbar-item-5(href='/automotivo/geladeira-automotiva')
                | Geladeira Automotiva
            a.navbar-item.navbar--all.navbar-item-1(href='/automotivo')
                | Ver todos     
        .navbar-dropdown-items
            h3 Compressores
            a.navbar-item.navbar-item-0(href='/compressores/compressores-de-ar')
                | Compressores de Ar
            a.navbar-item.navbar-item-2(href='/compressores/acessorios')
                | Acessórios
            a.navbar-item.navbar-item-5(href='/compressores/pistola-de-pintura')
                | Pistola de Pintura
            a.navbar-item.navbar--all.navbar-item-1(href='/compressores')
                | Ver todos     
        .navbar-dropdown-items
            h3 Químicos
            a.navbar-item.navbar-item-0(href='/quimicos/colas')
                | Colas
            a.navbar-item.navbar-item-2(href='/quimicos/silicone')
                | Silicone
            a.navbar-item.navbar-item-5(href='/quimicos/solventes')
                | Solventes
            a.navbar-item.navbar--all.navbar-item-1(href='/quimicos')
                | Ver todos     
        .navbar-dropdown-items
            h3 Hidráulica
            a.navbar-item.navbar-item-0(href='/hidraulica/bombas')
                | Bombas
            a.navbar-item.navbar-item-2(href='/hidraulica/chuveiros-e-duchas')
                | Chuveiros e Duchas
            a.navbar-item.navbar-item-5(href='/hidraulica/registros-e-bases')
                | Registros e Bases
            a.navbar-item.navbar--all.navbar-item-1(href='/hidraulica')
                | Ver todos     
        .navbar-dropdown-items
            h3 Solda
            a.navbar-item.navbar-item-0(href='/solda/maquinas-de-solda')
                | Máquinas de Solda
            a.navbar-item.navbar-item-2(href='/solda/mascaras-de-solda')
                | Máscaras de Solda
            a.navbar-item.navbar-item-5(href='/solda/eletrodos')
                | Eletrodos
            a.navbar-item.navbar--all.navbar-item-1(href='/solda')
                | Ver todos     
        .navbar-dropdown-items
            h3 Pintura
            a.navbar-item.navbar-item-0(href='/pintura/pinceis-e-trinchas')
                | Pincéis e Trinchas
            a.navbar-item.navbar-item-2(href='/pintura/tinta-spray')
                | Tinta Spray
            a.navbar-item.navbar-item-5(href='/pintura/acessorios')
                | Acessórios
            a.navbar-item.navbar--all.navbar-item-1(href='/pintura')
                | Ver todos     
  #ferramentas-eletricas.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/ferramentas-eletricas') Ferramentas Elétricas
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/ferramentas-eletricas/esmerilhadeiras')
            | Esmerilhadeiras
          a.navbar-item.navbar-item-1(href='/ferramentas-eletricas/furadeiras')
            | Furadeiras
          a.navbar-item.navbar-item-2(href='/ferramentas-eletricas/parafusadeiras')
            | Parafusadeiras
          a.navbar-item.navbar-item-3(href='/ferramentas-eletricas/serra-marmore')
            | Serra Mármore
          a.navbar-item.navbar-item-4(href='/ferramentas-eletricas/serra-circular')
            | Serra Circular
          a.navbar-item.navbar-item-5(href='/ferramentas-eletricas/serra-de-bancada')
            | Serra de Bancada
          a.navbar-item.navbar-item-6(href='/ferramentas-eletricas/serra-meia-esquadria')
            | Serra Meia Esquadria
          a.navbar-item.navbar-item-7(href='/ferramentas-eletricas/micro-retifica')
            | Micro Retifica
          a.navbar-item.navbar-item-8(href='/ferramentas-eletricas/marteletes')
            | Marteletes
          a.navbar-item.navbar-item-9(href='/ferramentas-eletricas/lixadeiras')
            | Lixadeiras
        .navbar-dropdown-column
          a.navbar-item.navbar-item-10(href='/ferramentas-eletricas/plainas')
            | Plainas
          a.navbar-item.navbar-item-11(href='/ferramentas-eletricas/moto-esmeril')
            | Moto Esmeril
          a.navbar-item.navbar-item-12(href='/ferramentas-eletricas/acessorios')
            | Acessórios
          a.navbar-item.navbar-item-13(href='/ferramentas-eletricas/soprador-termico')
            | Soprador Térmico
          a.navbar-item.navbar-item-14(href='/ferramentas-eletricas/serra-corte-rapido')
            | Serra Corte Rápido
          a.navbar-item.navbar-item-15(href='/ferramentas-eletricas/serra-tupia')
            | Serra Tupia
      .navbar-dropdown-image
        #ferramentas-eletricas
          .box-banner
            a(href='')
              img(src='/arquivos/banner-ferramentas-eletricas.jpg')/
  #ferramentas-manuais.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/ferramentas-manuais') Ferramentas Manuais
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/ferramentas-manuais/chaves-de-fenda-e-philips')
            | Chaves de Fenda e Philips
          a.navbar-item.navbar-item-1(href='/ferramentas-manuais/jogo-de-soquetes')
            | Jogo de Soquetes
          a.navbar-item.navbar-item-2(href='/ferramentas-manuais/alicates')
            | Alicates
          a.navbar-item.navbar-item-3(href='/ferramentas-manuais/chave-combinada')
            | Chave Combinada
          a.navbar-item.navbar-item-4(href='/ferramentas-manuais/chave-biela')
            | Chave Biela
          a.navbar-item.navbar-item-5(href='/ferramentas-manuais/torno-morsa')
            | Torno/Morsa
          a.navbar-item.navbar-item-6(href='/ferramentas-manuais/grampos')
            | Grampos
          a.navbar-item.navbar-item-7(href='/ferramentas-manuais/martelo')
            | Martelo
          a.navbar-item.navbar-item-8(href='/ferramentas-manuais/chave-allen')
            | Chave Allen
          a.navbar-item.navbar-item-9(href='/ferramentas-manuais/chave-pecisao')
            | Chave Pecisão
        .navbar-dropdown-column
          a.navbar-item.navbar-item-10(href='/ferramentas-manuais/chave-de-teste')
            | Chave de Teste
          a.navbar-item.navbar-item-11(href='/ferramentas-manuais/lixadeira-manual')
            | Lixadeira Manual
          a.navbar-item.navbar-item-12(href='/ferramentas-manuais/paquimetros')
            | Paquímetros
          a.navbar-item.navbar-item-13(href='/ferramentas-manuais/chave-de-grifo')
            | Chave de Grifo
          a.navbar-item.navbar-item-14(href='/ferramentas-manuais/lixas')
            | Lixas
          a.navbar-item.navbar-item-15(href='/ferramentas-manuais/chave-inglesa')
            | Chave Inglesa
          a.navbar-item.navbar-item-16(href='/ferramentas-manuais/tormep')
            | Tormep
          a.navbar-item.navbar-item-17(href='/ferramentas-manuais/bolsas-e-caixas-para-ferramentas')
            | Bolsas e Caixas Para Ferramentas
      .navbar-dropdown-image
        #ferramentas-manuais
          .box-banner
            a(href='')
              img(src='/arquivos/banner-ferramentas-manuais.jpg')/
  #construcao-civil.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/construcao-civil') Construção Civil
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/construcao-civil/impermeabilizacao')
            | Impermeabilização
          a.navbar-item.navbar-item-1(href='/construcao-civil/telas')
            | Telas
          a.navbar-item.navbar-item-2(href='/construcao-civil/marretas')
            | Marretas
          a.navbar-item.navbar-item-3(href='/construcao-civil/serras-e-serrotes')
            | Serras e Serrotes
          a.navbar-item.navbar-item-4(href='/construcao-civil/enxada')
            | Enxada
          a.navbar-item.navbar-item-5(href='/construcao-civil/pa')
            | Pá
          a.navbar-item.navbar-item-6(href='/construcao-civil/cavadeira')
            | Cavadeira
          a.navbar-item.navbar-item-7(href='/construcao-civil/colher-de-pedreiro')
            | Colher de Pedreiro
          a.navbar-item.navbar-item-8(href='/construcao-civil/prumo')
            | Prumo
          a.navbar-item.navbar-item-9(href='/construcao-civil/trena')
            | Trena
        .navbar-dropdown-column
          a.navbar-item.navbar-item-10(href='/construcao-civil/carrinho-de-mao')
            | Carrinho de mão
          a.navbar-item.navbar-item-11(href='/construcao-civil/riscadores-e-marcadores')
            | Riscadores e Marcadores
          a.navbar-item.navbar-item-12(href='/construcao-civil/picareta')
            | Picareta
          a.navbar-item.navbar-item-13(href='/construcao-civil/maquina-para-chapisco')
            | Máquina para Chapisco
          a.navbar-item.navbar-item-14(href='/construcao-civil/peneiras')
            | Peneiras
          a.navbar-item.navbar-item-15(href='/construcao-civil/lonas')
            | Lonas
          a.navbar-item.navbar-item-16(href='/construcao-civil/lapis-carpinteiro')
            | Lápis Carpinteiro
          a.navbar-item.navbar-item-17(href='/construcao-civil/esquadros')
            | Esquadros
          a.navbar-item.navbar-item-18(href='/construcao-civil/pe-de-cabra')
            | Pé de Cabra
          a.navbar-item.navbar-item-19(href='/construcao-civil/nivel')
            | Nível
        .navbar-dropdown-column
          a.navbar-item.navbar-item-20(href='/construcao-civil/baldes')
            | Baldes
          a.navbar-item.navbar-item-21(href='/construcao-civil/desempenadeira')
            | Desempenadeira
          a.navbar-item.navbar-item-22(href='/construcao-civil/talhadeiras')
            | Talhadeiras
          a.navbar-item.navbar-item-23(href='/construcao-civil/ponteiros')
            | Ponteiros
          a.navbar-item.navbar-item-24(href='/construcao-civil/formao')
            | Formão
          a.navbar-item.navbar-item-25(href='/construcao-civil/espatula')
            | Espatula
      .navbar-dropdown-image
        #construcao-civil
          .box-banner
            a(href='')
              img(src='/arquivos/banner-construcao-civil.jpg')/

  #ferragens-e-seguranca.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/ferragens-e-seguranca') Ferragens e Segurança
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/ferragens-e-seguranca/fechaduras')
            | Fechaduras
          a.navbar-item.navbar-item-1(href='/ferragens-e-seguranca/cadeados')
            | Cadeados
          a.navbar-item.navbar-item-2(href='/ferragens-e-seguranca/trincos')
            | Trincos
          a.navbar-item.navbar-item-3(href='/ferragens-e-seguranca/pregos')
            | Pregos
          a.navbar-item.navbar-item-4(href='/ferragens-e-seguranca/parafusos')
            | Parafusos
          a.navbar-item.navbar-item-5(href='/ferragens-e-seguranca/porcas')
            | Porcas
          a.navbar-item.navbar-item-6(href='/ferragens-e-seguranca/buchas')
            | Buchas
          a.navbar-item.navbar-item-7(href='/ferragens-e-seguranca/arruela')
            | Arruela
          a.navbar-item.navbar-item-8(href='/ferragens-e-seguranca/pitao')
            | Pitão
          a.navbar-item.navbar-item-9(href='/ferragens-e-seguranca/escapula')
            | Escapula
        .navbar-dropdown-column
          a.navbar-item.navbar-item-10(href='/ferragens-e-seguranca/rebite')
            | Rebite
          a.navbar-item.navbar-item-11(href='/ferragens-e-seguranca/abracadeira')
            | Abraçadeira
          a.navbar-item.navbar-item-12(href='/ferragens-e-seguranca/gancho')
            | Gancho
          a.navbar-item.navbar-item-13(href='/ferragens-e-seguranca/fixadores')
            | Fixadores
          a.navbar-item.navbar-item-14(href='/ferragens-e-seguranca/arame')
            | Arame
          a.navbar-item.navbar-item-15(href='/ferragens-e-seguranca/regulador-de-gas')
            | Regulador de Gás
          a.navbar-item.navbar-item-16(href='/ferragens-e-seguranca/suportes')
            | Suportes
          a.navbar-item.navbar-item-17(href='/ferragens-e-seguranca/puxadores')
            | Puxadores
          a.navbar-item.navbar-item-18(href='/ferragens-e-seguranca/dobradicas')
            | Dobradiças
      .navbar-dropdown-image
        #ferragens-e-seguranca
          .box-banner
            a(href='')
              img(src='/arquivos/banner-ferragens-e-seguranca.jpg')/
  #casa-e-jardim.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/casa-e-jardim') Casa e Jardim
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/casa-e-jardim/lavadora-de-pressao')
            | Lavadora de Pressão
          a.navbar-item.navbar-item-1(href='/casa-e-jardim/cortador-de-grama')
            | Cortador de Grama
          a.navbar-item.navbar-item-2(href='/casa-e-jardim/pulverizadores')
            | Pulverizadores
          a.navbar-item.navbar-item-3(href='/casa-e-jardim/ferramentas-para-jardinagem')
            | Ferramentas para Jardinagem
          a.navbar-item.navbar-item-4(href='/casa-e-jardim/mangueiras')
            | Mangueiras
          a.navbar-item.navbar-item-5(href='/casa-e-jardim/acessorios')
            | Acessórios
          a.navbar-item.navbar-item-6(href='/casa-e-jardim/ventiladores')
            | Ventiladores
          a.navbar-item.navbar-item-7(href='/casa-e-jardim/suportes-para-tv')
            | Suportes para Tv
          a.navbar-item.navbar-item-8(href='/casa-e-jardim/pistola-de-pintura')
            | Pistola de Pintura
          a.navbar-item.navbar-item-9(href='/casa-e-jardim/portas-sanfonadas')
            | Portas Sanfonadas
      .navbar-dropdown-image
        #casa-e-jardim
          .box-banner
            a(href='')
              img(src='/arquivos/banner-casa-e-jardim.jpg')/

  #material-eletrico.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/material-eletrico') Material Elétrico
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/material-eletrico/fios-e-cabos')
            | Fios e cabos
          a.navbar-item.navbar-item-1(href='/material-eletrico/interruptores-e-tomadas')
            | Interruptores e Tomadas
          a.navbar-item.navbar-item-2(href='/material-eletrico/extensao-e-filtro-de-linha')
            | Extensão e filtro de linha
          a.navbar-item.navbar-item-3(href='/material-eletrico/fita-isolante')
            | Fita Isolante
          a.navbar-item.navbar-item-4(href='/material-eletrico/disjuntores')
            | Disjuntores
          a.navbar-item.navbar-item-5(href='/material-eletrico/caixa-de-disjuntor')
            | Caixa de Disjuntor
          a.navbar-item.navbar-item-6(href='/material-eletrico/passadores-de-fio')
            | Passadores de Fio
          a.navbar-item.navbar-item-7(href='/material-eletrico/espelhos-e-placas-cegas')
            | Espelhos e Placas Cegas
          a.navbar-item.navbar-item-8(href='/material-eletrico/multimetro')
            | Multímetro
      .navbar-dropdown-image
        #material-eletrico
          .box-banner
            a(href='')
              img(src='/arquivos/banner-material-eletrico.jpg')/
  #hidraulica.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='/hidraulica') Hidráulica
    .navbar-dropdown
      .navbar-dropdown-items
        .navbar-dropdown-column
          a.navbar-item.navbar-item-0(href='/hidraulica/torneiras')
            | Torneiras
          a.navbar-item.navbar-item-1(href='/hidraulica/conexoes')
            | Conexões
          a.navbar-item.navbar-item-2(href='/hidraulica/chuveiros-e-duchas')
            | Chuveiros e Duchas
          a.navbar-item.navbar-item-3(href='/hidraulica/sifao')
            | Sifão
          a.navbar-item.navbar-item-4(href='/hidraulica/ralos-e-grelhas')
            | Ralos e Grelhas
          a.navbar-item.navbar-item-5(href='/hidraulica/registros-e-bases')
            | Registros e Bases
          a.navbar-item.navbar-item-6(href='/hidraulica/acabamentos-para-registro')
            | Acabamentos para Registro
          a.navbar-item.navbar-item-7(href='/hidraulica/caixas-de-esgoto')
            | Caixas de Esgoto
          a.navbar-item.navbar-item-8(href='/hidraulica/valvulas-para-pia')
            | Válvulas para Pia
          a.navbar-item.navbar-item-9(href='/hidraulica/boias')
            | Boias
      .navbar-dropdown-image
        #hidraulica
          .box-banner
            a(href='')
              img(src='/arquivos/banner-hidraulica.jpg')/
