nav.navbar.js-make-menu(role='navigation', aria-label='dropdown navigation')
  #todo.navbar-department.navbar-item.has-dropdown.is-hoverable
    a.navbar-link(href='#')
      | Toda Loja
      i.icon-arrow-right
  #ferramentas-eletricas.navbar-department
    a.navbar-link(href='/ferramentas-eletricas') Ferramentas Elétricas
  #ferramentas-manuais.navbar-department
    a.navbar-link(href='/ferramentas-manuais') Ferramentas Manuais
  #construcao-civil.navbar-department
    a.navbar-link(href='/construcao-civil') Construção Civil
  #ferragens-e-seguranca.navbar-department
    a.navbar-link(href='/ferragens-e-seguranca') Ferragens e Segurança
  #casa-e-jardim.navbar-department
    a.navbar-link(href='/casa-e-jardim') Casa e Jardim
  #material-eletrico.navbar-department
    a.navbar-link(href='/material-eletrico') Material Elétrico
  #hidraulica.navbar-department
    a.navbar-link(href='/hidraulica') Hidráulica
  .submenu--todo
    .navbar-dropdown-items.has-dropup
      a.navbar-link(href='')
        i.icon-arrow-left
        | Voltar
    .navbar-dropdown-items
      a.navbar-link(href='/ferramentas-eletricas')
        | Ferramentas Elétricas
    .navbar-dropdown-items
      a.navbar-link(href='/ferramentas-manuais')
        | Ferramentas Manuais
    .navbar-dropdown-items
      a.navbar-link(href='/material-eletrico/iluminacao')
          | Iluminação
    .navbar-dropdown-items
      a.navbar-link(href='/material-eletrico')
          | Material Elétrico
    .navbar-dropdown-items
      a.navbar-link(href='/construcao-civil')
        | Construção Civil
    .navbar-dropdown-items
      a.navbar-link(href='/ferragens-e-seguranca')
        | Ferragens e Segurança
    .navbar-dropdown-items
      a.navbar-link(href='/casa-e-jardim')
        | Casa e Jardim
    .navbar-dropdown-items
      a.navbar-link(href='/epi')
        | EPI
    .navbar-dropdown-items
      a.navbar-link(href='/automotivo')
        | Automotivo
    .navbar-dropdown-items
      a.navbar-link(href='/compressores')
        | Compressores
    .navbar-dropdown-items
      a.navbar-link(href='/quimicos')
        | Químicos
    .navbar-dropdown-items
      a.navbar-link(href='/hidraulica')
        | Hidráulica
    .navbar-dropdown-items
      a.navbar-link(href='/solda')
        | Solda
    .navbar-dropdown-items
      a.navbar-link(href='/pintura')
        | Pintura

