.footer {
    padding: 0;
    background-color: transparent;
    
    &__box {
        
        & + & {
            margin-left: 200px;
        }
    }


    &__main {
        padding: 20px 20px 60px;
    }

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        font-family: $f-secondary;
        margin-bottom: 20px;
    }

    &__copyright, &__main {
        background-color: #e0e0e0;
    }
    &__copyright {
        border-top: 1px solid #d3d3d3;
        padding: 20px;

        .footer__inner {
            justify-content: center;
            align-items: center;
        }

        &-text {
            margin-left: auto;
            margin-right: auto;
            font-family: $f-base;
            font-size: 16px;
        }
    }
    &__develop {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            &__vtex {
                margin-left: 10px;
                display: block;
                width: 100px;
            }
        }
    }

    


}

