@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");@-ms-viewport {
	width: device-width;
}

/*
   Dependencies
   ========================================================================== */

/* ==========================================================================
   Mixins
   ========================================================================== */

/* Rotate */

/* Rotate */

/* Border-Radius */

/* Border-Radius */

/* Transitions */

/* Transitions */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

/* ==========================================================================
   Base Classes
   ========================================================================== */

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.transition,
#minicart .vtexsc-center,
header.menu-persistente,
.open-menu,
.close-menu,
.side-panel,
.modal,
.modal .close-modal,
.modal .close-modal:hover,
.modal .modal-container,
body.account [data-toggle="modal"],
body.tapume .modal-tapume,
body.tapume .modal-tapume__close-btn {
	transition-duration: .3s;
	transition-timing-function: ease;
}

#ajaxBusy {
	display: none !important;
}

.modal {
	display: none;
}

main {
	clear: both;
}

/*
   Breakpoints
   ========================================================================== */

/*
   Grid
   ========================================================================== */

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.wrapper {
	width: 80%;
	max-width: 80%;
	margin: 0 auto;
}

.wrapper--narrow {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

/* ==========================================================================
   Responsive: Utility classes
   ========================================================================== */

.visible-xs {
	display: none !important;
}

.visible-sm {
	display: none !important;
}

.visible-md {
	display: none !important;
}

.visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
body.account .profile-detail-display,
body.account .address-display-block,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 7px;
	padding-right: 7px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
body.account .profile-detail-display,
body.account .address-display-block {
	float: left;
}

.col-xs-1 {
	width: 8.3333333333%;
}

.col-xs-2 {
	width: 16.6666666667%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.3333333333%;
}

.col-xs-5 {
	width: 41.6666666667%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-7 {
	width: 58.3333333333%;
}

.col-xs-8 {
	width: 66.6666666667%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83.3333333333%;
}

.col-xs-11 {
	width: 91.6666666667%;
}

.col-xs-12,
body.account .profile-detail-display,
body.account .address-display-block {
	width: 100%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-pull-1 {
	right: 8.3333333333%;
}

.col-xs-pull-2 {
	right: 16.6666666667%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-4 {
	right: 33.3333333333%;
}

.col-xs-pull-5 {
	right: 41.6666666667%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 58.3333333333%;
}

.col-xs-pull-8 {
	right: 66.6666666667%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-10 {
	right: 83.3333333333%;
}

.col-xs-pull-11 {
	right: 91.6666666667%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-push-1 {
	left: 8.3333333333%;
}

.col-xs-push-2 {
	left: 16.6666666667%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-4 {
	left: 33.3333333333%;
}

.col-xs-push-5 {
	left: 41.6666666667%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-7 {
	left: 58.3333333333%;
}

.col-xs-push-8 {
	left: 66.6666666667%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-10 {
	left: 83.3333333333%;
}

.col-xs-push-11 {
	left: 91.6666666667%;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.col-xs-offset-1 {
	margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
	margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
	margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
	margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
	margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

/* ==========================================================================
   Header
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   Buttons
   ========================================================================== */

/* ==========================================================================
   Checkout Buttons
   ========================================================================== */

/* ==========================================================================
   Shelf
   ========================================================================== */

/* ==========================================================================
   Form Busca
   ========================================================================== */

/* ==========================================================================
   Minicart
   ========================================================================== */

#minicart {
	display: none;
	position: absolute;
	right: 0;
	top: 50px;
	background-color: #fff;
	width: 400px;
	height: auto;
	overflow: visible;
	z-index: 999999;
	box-shadow: 0px 0px 11px -2px rgba(191, 191, 191, 0.75);
}

#minicart .vtexsc-center {
	overflow: hidden;
	padding: 10px;
	box-shadow: 0px 0px 11px -2px rgba(191, 191, 191, 0.75);
}

#minicart .carrinho-vazio {
	display: none;
}

#minicart table {
	padding: 20px;
	width: 100%;
}

#minicart table thead {
	display: none;
}

#minicart table tbody tr {
	border-bottom: 1px solid #d5d5d5;
	width: 100%;
	height: auto;
	overflow: hidden;
}

#minicart table tbody tr td {
	vertical-align: middle;
}

#minicart table tbody tr td.cartSkuImage {
	width: 20%;
	padding-right: 10px;
}

#minicart table tbody tr td.cartSkuImage img {
	margin: 10px 0;
	border: 1px solid #d5d5d5;
	width: 100%;
	height: auto;
}

#minicart table tbody tr td.cartSkuName {
	width: 40%;
	padding: 0;
}

#minicart table tbody tr td.cartSkuName h4 {
	text-align: left;
}

#minicart table tbody tr td.cartSkuName h4 a {
	font-size: 12px;
	text-align: left;
	color: #262626;
	font-weight: 800px;
	text-decoration: none;
}

#minicart table tbody tr td.cartSkuPrice {
	text-align: center;
}

#minicart table tbody tr td.cartSkuPrice span {
	font-size: 14px;
	text-align: left;
	color: #262626;
	font-weight: bolder !important;
}

#minicart table tbody tr td.cartSkuQuantity {
	font-size: 12px;
	text-align: left;
	color: #262626;
	display: none;
}

#minicart table tbody tr td.cartSkuActions:after {
	font-size: 16px;
	background-color: #fff;
	content: "x";
	color: #000;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: 700;
	border: 1px solid #000;
	margin: 0 5px;
	cursor: pointer;
	display: none;
}

#minicart .cartFooter {
	background-color: #fff;
}

#minicart .cartFooter .cartTotal {
	font-size: 12px;
	padding: 20px;
	color: #262626;
	float: left;
	text-align: left;
	line-height: 20px;
}

#minicart .cartFooter .cartTotal .vtexsc-totalCart {
	display: block;
}

#minicart .cartFooter .cartTotal .vtexsc-totalCart .vtexsc-text {
	font-size: 18px;
	font-weight: 900;
	color: #000;
	text-align: left;
	float: left;
}

#minicart .cartFooter .cartCheckout {
	float: right;
	border: 1px solid #000;
	background-color: #fff;
	padding: 20px;
	text-decoration: none;
	height: 40px;
	margin-top: 17px;
	width: 190px;
	line-height: 0px;
}

#minicart .cartFooter .cartCheckout:after {
	font-size: 14px;
	content: "finalizar compra";
	font-weight: 700;
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
}

/* ==========================================================================
   Title
   ========================================================================== */

/* ==========================================================================
   Newsletter
   ========================================================================== */

/* ==========================================================================
   Autocomplete Busca
   ========================================================================== */

.typeahead {
	display: none !important;
}

.ui-corner-all {
	display: block;
	cursor: pointer;
}

.ui-autocomplete {
	background-color: #fff;
	border: 1px solid #e8e8e8;
	width: 313px !important;
	padding: 0;
}

.ui-autocomplete .ui-menu-item {
	border-bottom: 1px solid #e8e8e8;
	padding: 10px;
	list-style-type: none;
}

.ui-autocomplete .ui-menu-item .ui-corner-all {
	cursor: pointer;
	color: #000;
}

.ui-autocomplete .ui-menu-item .ui-corner-all img {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 5px;
}

.ui-autocomplete .ui-menu-item:last-child {
	border: none;
}

.ui-autocomplete .ui-menu-item:hover {
	background-color: #96241E;
}

.ui-autocomplete .ui-menu-item:hover .ui-corner-all {
	color: #fff;
}

/* ========================================================================
	Menu Persistente
	======================================================================= */

header {
	position: relative;
}

header.menu-persistente {
	display: none;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 9999999999999;
	background-color: #fff;
}

/* ==========================================================================
   Breadcrumb
   ========================================================================== */

.bread-crumb {
	padding-left: 10px;
	margin: 3% 0;
}

.bread-crumb ul li {
	position: relative;
	margin-right: 10px;
	padding-right: 10px;
	list-style-type: none;
	display: inline-block;
	text-transform: lowercase;
}

.bread-crumb ul li:after {
	top: 0;
	right: -4px;
	content: '>';
	display: block;
	color: #000;
	position: absolute;
}

.bread-crumb ul li a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	text-transform: lowercase;
}

.bread-crumb ul li a:hover {
	text-decoration: underline;
}

.bread-crumb ul li:last-child:after {
	content: '';
}

.bread-crumb ul li:last-child a {
	font-weight: bolder;
}

/* ==========================================================================
   Sidebar Institucional
   ========================================================================== */

/* ==========================================================================
   Sidebar Search
   ========================================================================== */

/* ==========================================================================
   Compra Rápida
   ========================================================================== */

/* ==========================================================================
   SidePanel
   ========================================================================== */

.open-menu {
	cursor: pointer;
	text-align: center;
	margin-top: 6px;
	z-index: 9;
}

.close-menu {
	top: 20px;
	left: 7px;
	display: none;
	cursor: pointer;
	position: absolute;
	font-style: normal;
	text-align: center;
	width: 39px;
	height: 55px;
	background-color: #F69C7D;
	z-index: 99;
}

.close-menu.active {
	display: block;
}

.side-panel {
	top: 58px;
	width: 100%;
	color: #fff;
	height: 500px;
	left: -1000px;
	z-index: 99999;
	position: absolute;
	overflow: scroll;
	background-color: #e8e4e1;
	transition-duration: .4s;
	transition-timing-function: ease;
	transition-property: left box-shadow;
	-webkit-overflow-scrolling: touch;
	transition: right .3s ease;
}

.side-panel--open {
	left: 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
	transition-duration: .4s;
	transition-timing-function: ease;
	transition-property: left box-shadow;
	-webkit-overflow-scrolling: touch;
	transition: right .3s ease;
}

.side-panel .sidepanel-content {
	padding: 0;
}

.side-panel .sidepanel-content li.menu-item-sidepanel {
	background-color: #f2f0f0;
}

.side-panel .sidepanel-content li.menu-item-sidepanel a.menu-anchor-sidepanel {
	color: #000;
	display: block;
	font-size: 13px;
	font-weight: 300;
	padding: 20px;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}

.side-panel .sidepanel-content li.menu-item-sidepanel.has-sub a:after {
	font-size: 20px;
	content: "+";
	float: right;
}

.side-panel .sidepanel-content li.menu-item-sidepanel.has-sub a.active:after {
	font-size: 20px;
	content: "-";
	float: right;
}

.side-panel .sidepanel-content li.menu-item-sidepanel .submenu-sidepanel {
	display: none;
	background-color: #fff;
	overflow: scroll !important;
	height: 200px;
}

.side-panel .sidepanel-content li.menu-item-sidepanel .submenu-sidepanel nav li a {
	font-size: 13px;
	color: #000;
	display: block;
	font-weight: 300;
	padding: 18px 20px;
	text-decoration: none;
	cursor: pointer;
}

.side-panel .sidepanel-content li.menu-item-sidepanel .submenu-sidepanel nav li a:after {
	content: "";
}

body {
	position: relative;
}

body.modal-active .modal {
	display: block;
}

.modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	min-height: 4500px;
	position: absolute;
}

.modal .close-modal {
	top: 40px;
	left: 50%;
	color: #fff;
	width: 70px;
	height: 30px;
	padding: 10px;
	cursor: pointer;
	position: fixed;
	font-size: 15px;
	line-height: 10px;
	margin-left: 77px;
	z-index: 2147483647;
	background-color: #666;
	text-align: center;
	border: 1px solid #fff;
}

.modal .close-modal:hover {
	color: #fff;
	background-color: #333;
}

.modal .opacity {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	background-color: #000;
	z-index: 99999999999999;
}

.modal .modal-container {
	height: 450px;
	left: 50%;
	width: 295px;
	margin-left: -148px;
	position: fixed;
	top: 70px;
	background-color: #fff;
	z-index: 2147483647;
	overflow: auto;
	box-shadow: 0px 0px 11px -2px rgba(191, 191, 191, 0.75);
}

/* ==========================================================================
   Homepage
   ========================================================================== */

/* ==========================================================================
   Página de Produto
   ========================================================================== */

/* ==========================================================================
   Página de Busca, Categorias e Departamentos
   ========================================================================== */

/* ==========================================================================
   Brands
   ========================================================================== */

/* ==========================================================================
   Account
   ========================================================================== */

body.account main {
	overflow: hidden;
}

body.account main .row {
	width: 100%;
	margin: 0;
}

body.account main .container {
	padding: 30px 10px;
	overflow: hidden;
}

body.account main .container h2 {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 400;
	line-height: 40px;
	border-bottom: 1px solid #9e9ea6;
}

body.account .profile-detail-display,
body.account .address-display-block {
	font-size: 13px;
	border: 1px solid #9e9ea6;
	padding: 40px;
	margin-top: 20px;
}

body.account .profile-detail-display h4,
body.account .address-display-block h4 {
	font-size: 30px;
	border-bottom: 1px solid #9e9ea6;
	text-transform: lowercase;
	color: #333;
	font-weight: 700;
	margin: 20px 0;
	line-height: 45px;
}

body.account .profile-detail-display h5,
body.account .address-display-block h5 {
	font-size: 18px;
}

body.account .profile-detail-display .title,
body.account .profile-detail-display .data,
body.account .address-display-block .title,
body.account .address-display-block .data {
	font-size: 13px;
	border: none;
	font-weight: normal !important;
}

body.account .profile-detail-display .new-address-link,
body.account .address-display-block .new-address-link {
	margin-top: 0;
}

body.account .address-display-block {
	margin-right: 0 !important;
}

body.account .profile-detail-display-info,
body.account .address-display-unit-info {
	line-height: 1.5;
}

body.account .address-display-unit {
	margin-bottom: 20px;
}

body.account .edit-address-link {
	margin-top: 13px;
	color: #000;
}

body.account .edit-address-link a {
	font-size: 9px;
	background-color: #fff;
	border: none;
	text-align: left;
	padding: 0;
	font-weight: bold;
}

body.account .edit-address-link a:hover {
	border: none;
}

body.account .edit-address-link a.delete {
	color: #939598;
	font-weight: 400;
	background: none;
}

body.account .edit-profile-link,
body.account .new-address-link {
	margin: 15px 0;
	overflow: hidden;
}

body.account [data-toggle="modal"] {
	text-decoration: none;
	background-image: none;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	padding: 4px 20px;
	text-align: center;
	text-transform: lowercase;
	border: 1px solid #e6e6e6;
	background-color: #e6e6e6;
	color: #000;
}

body.account [data-toggle="modal"]:hover {
	background-color: #fff;
	border: 1px solid #000;
}

body.account [data-toggle="modal"].delete {
	border: none;
}

body.account .data {
	font-weight: 300;
}

body.account .modal {
	font-size: 12px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.6);
}

body.account .modal form {
	position: absolute;
	top: 1%;
	left: 50%;
	width: 100%;
	max-width: 400px;
	margin-left: -201px;
}

body.account .modal-header {
	-ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	-ms-flex-align: center;
	    align-items: center;
	height: 58px;
	padding: 0 15px;
	background-color: #fff;
}

body.account .modal-header h3 {
	color: #000;
	-ms-flex: 1;
	    flex: 1;
	margin: 0;
	padding-top: 20px;
	display: block;
	font-size: 1.6em;
}

body.account .modal-header .close {
	color: #000;
	float: right;
	width: 28px;
	height: 28px;
	margin-top: 8px;
	padding: 0;
	border: 0;
	font-size: 40px;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

body.account .modal-body {
	background-color: #e6e6e6;
	padding: 15px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

body.account .modal-body .dropdown-icon {
	display: none;
}

body.account .modal-body .profile-detail-form-personal-data h5 {
	margin-top: 10px;
}

body.account .modal-body h5 {
	display: none;
}

body.account .modal-body .control-group {
	margin-bottom: 1em;
	font-size: 13px;
}

body.account .modal-body .control-group label {
	display: inline-block;
}

body.account .modal-body .control-group select {
	margin-top: 5px;
}

body.account .modal-body .control-group input:not([type="radio"]) {
	font-size: 12px;
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: none;
	border-radius: 0;
	margin-top: 5px;
	transition-duration: .2s;
	transition-timing-function: ease;
	transition-property: padding, border-color;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

body.account .modal-body .control-group input:not([type="radio"]):focus {
	border-color: #000;
}

body.account .modal-body .form-personal-data-gender .controls label {
	position: relative;
	margin-top: .5em;
	padding-right: 20px;
}

body.account .modal-body #business-toggle {
	display: none;
}

body.account .modal-footer {
	-ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	height: 58px;
	padding: 15px;
	border: 0;
	color: #000;
	background-color: #fff;
}

body.account .modal-footer .btn {
	font-size: 13px;
	padding: 8px 30px;
	border: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	cursor: pointer;
	text-align: center;
	text-transform: lowercase;
	background-color: #e6e6e6;
	color: #000;
}

body.account .modal-footer .btn-link {
	font-size: 13px;
	display: inline-block;
	margin: 0 15px;
	padding: 7px 20px;
	color: #000;
	border: 1px solid #e6e6e6;
	background: transparent;
	text-transform: lowercase;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	cursor: pointer;
}

/* ==========================================================================
   Meus Pedidos
   ========================================================================== */

body.orders .myorders .page-header h1 {
	font-size: 25px;
	color: #000;
	font-weight: 900;
	margin: 40px 0 20px;
}

body.orders .myorders .page-header .nav-pills {
	display: none;
}

body.orders .myorders .containerPage .form-search input {
	border: 1px solid #443322;
	padding: 5px 15px;
	width: 100%;
	border-radius: 0;
}

body.orders .myorders .containerPage .myorders-list .ordergroup {
	padding: 20px 10px;
	border: 1px solid #000;
	border-radius: 0;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-header span {
	font-size: 20px;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-header .repeat-order a {
	color: #000;
	border: 1px solid #000;
	text-decoration: none;
	padding: 10px;
	text-transform: lowercase;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-info h3.section-info-title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
	text-align: left;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-info .payment-info .payments-list span {
	margin-bottom: 5px;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-info .total-info table tr th,
body.orders .myorders .containerPage .myorders-list .ordergroup .order-info .total-info table tr td {
	font-size: 14px;
	padding: 10px 30px 10px 0;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .showTrackingInfo {
	display: block;
	margin: 10px 0;
	overflow: hidden;
	padding: 10px 0;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .order-status-wrapper {
	background-color: #000;
	color: #fff;
	float: none;
	margin-bottom: 30px;
	padding: 8px 20px 7px;
	width: 110px;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .order-status-wrapper span {
	font-size: 12px;
	font-weight: bold;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .items table {
	width: 100%;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .items table thead {
	border-bottom: 1px solid;
	text-align: center;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .items table thead td {
	text-align: center;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .items table thead td.align-right {
	text-align: center;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .items table tbody td {
	padding: 15px 0 5px;
	vertical-align: top;
}

body.orders .myorders .containerPage .myorders-list .ordergroup .order-details .items table tbody td a {
	color: #000;
}

/* ==========================================================================
   Erro 404
   ========================================================================== */

/* ==========================================================================
   Institucional
   ========================================================================== */

/* ==========================================================================
   Tapume
   ========================================================================== */

body.tapume main {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/arquivos/bg-tapume.jpg) no-repeat scroll 0 0 transparent;
	display: block;
	background-size: cover;
	width: 100vw;
	height: auto;
	height: 100vh;
	overflow: hidden;
}

body.tapume .tapume-top__logo {
	padding: 20px 0;
}

body.tapume .tapume-top svg {
	width: 200px;
	height: auto;
}

body.tapume .tapume-top--bottom-border {
	border-bottom: 1px solid rgba(255, 255, 255, 0.795);
}

body.tapume .tapume-body {
	color: #fff;
}

body.tapume .tapume-body__title {
	padding: 30px 0 20px;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
}

body.tapume .tapume-body__subtitle {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	margin-bottom: 25px;
	font-weight: 300;
}

body.tapume .tapume-body__subtitle--yellow {
	text-transform: uppercase;
	color: #E5B232;
}

body.tapume .tapume-body__newsletter fieldset {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

body.tapume .tapume-body__newsletter input {
	font-family: 'PT Sans Narrow', sans-serif;
	border-radius: 10px;
	border: none;
	width: 205px;
	height: 35px;
	padding: 5px 10px;
	background: rgba(255, 255, 255, 0.795);
	font-size: 14px;
}

body.tapume .tapume-body__newsletter button {
	font-family: 'PT Sans Narrow', sans-serif;
	display: block;
	border-radius: 10px;
	border: none;
	padding: 5px;
	margin-top: 20px;
	background-color: #E5B232;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	height: 40px;
	width: 180px;
	color: #fff;
	cursor: pointer;
}

body.tapume .tapume-body__newsletter button:hover {
	opacity: 0.8;
}

body.tapume .tapume-body__obs {
	font-size: 14px;
	margin-top: 25px;
}

body.tapume .modal-tapume {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	min-height: 4500px;
	position: absolute;
}

body.tapume .modal-tapume.active {
	display: block;
}

body.tapume .modal-tapume__opacity {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	background-color: #000;
	z-index: 9;
}

body.tapume .modal-tapume__close-btn {
	top: 188px;
	left: 50%;
	color: #fff;
	width: 70px;
	height: 30px;
	padding: 10px;
	cursor: pointer;
	position: fixed;
	font-size: 35px;
	line-height: 10px;
	margin-left: 98px;
	z-index: 999;
	text-align: center;
}

body.tapume .modal-tapume__modal-container {
	width: 300px;
	height: 300px;
	top: 188px;
	left: 50%;
	margin-left: -150px;
	position: fixed;
	background-color: #fff;
	z-index: 99;
	overflow: auto;
	text-align: center;
	border-radius: 10px;
}

body.tapume .modal-tapume__header-modal {
	background-color: #E5B232;
	padding: 8% 0;
	color: #fff;
	text-transform: uppercase;
}

body.tapume .modal-tapume__header-modal span {
	font-size: 14px;
}

body.tapume .modal-tapume__header-modal h4 {
	font-size: 40px;
	margin-top: 4px;
}

body.tapume .modal-tapume__footer-modal {
	font-size: 20px;
	line-height: 25px;
	padding: 8% 12%;
}

body.tapume .modal-tapume__footer-modal p:last-of-type {
	font-size: 14px;
	margin-top: 8px;
}

/* ==========================================================================
   Slick
   ========================================================================== */

/* Variáveis
   ========================================================================== */

/* Funções
   ========================================================================== */

/* Slider
   ========================================================================== */

.slider {
	position: relative;
	z-index: 1;
}

.slider .col-xs-12,
.slider body.account .profile-detail-display,
body.account .slider .profile-detail-display,
.slider
  body.account .address-display-block,
body.account .slider .address-display-block {
	padding-right: 0;
}

.slider .container {
	padding: 0;
}

.slider .slide {
	overflow: hidden;
	border-radius: 0;
}

.slick-slider {
	position: relative;
	box-sizing: border-box;
	display: block; /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-ms-touch-action: pan-y;
	    touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: -webkit-grab;
	cursor: grab;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
	width: 100%;
	height: auto;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

/* Arrows slideShelf
   ========================================================================== */

.slick-prev,
.slick-next {
	position: absolute;
	top: -42px;
	width: 20px;
	height: 20px;
	padding: 0;
	color: transparent;
	font-size: 0;
	line-height: 0;
	background: url("../arquivos/arrow-v2.png") no-repeat scroll center center transparent;
	border: 1px solid #666;
	cursor: pointer;
	padding: 15px;
}

.slick-prev {
	-ms-transform: rotate(180deg);
	    transform: rotate(180deg);
	right: 70px;
}

.slick-next {
	right: 30px;
}

.slick-disabled {
	opacity: .4 !important;
}

/* Dots
   ========================================================================== */

.slick-dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: auto;
	-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	width: 15px;
	height: 15px;
	padding: 0;
	text-indent: -9999px;
	border-radius: 50%;
	background-color: #ccc;
	border: 2px solid #ccc;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	background-color: #fff;
}

.slick-dots li.slick-active button {
	background-color: #fff;
	border: 2px solid #ccc;
}

/*
   Base Style
   ========================================================================== */

html {
	min-height: 100%;
	box-sizing: border-box;
	font-size: 12px;
	font-smoothing: antialiased;
	font-family: 'PT Sans Narrow', sans-serif;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: inherit;
}

@media (min-width: 480px) {

body.account .modal-body {
	height: 70vh;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.visible-sm {
	display: block !important;
}

table.visible-sm {
	display: table;
}

tr.visible-sm {
	display: table-row !important;
}

th.visible-sm,
td.visible-sm {
	display: table-cell !important;
}

.visible-sm-block {
	display: block !important;
}

.visible-sm-inline {
	display: inline !important;
}

.visible-sm-inline-block {
	display: inline-block !important;
}

.hidden-sm {
	display: none !important;
}

}

@media (min-width: 768px) {

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	float: left;
}

.col-sm-1 {
	width: 8.3333333333%;
}

.col-sm-2 {
	width: 16.6666666667%;
}

.col-sm-3 {
	width: 25%;
}

.col-sm-4 {
	width: 33.3333333333%;
}

.col-sm-5 {
	width: 41.6666666667%;
}

.col-sm-6 {
	width: 50%;
}

.col-sm-7 {
	width: 58.3333333333%;
}

.col-sm-8 {
	width: 66.6666666667%;
}

.col-sm-9 {
	width: 75%;
}

.col-sm-10 {
	width: 83.3333333333%;
}

.col-sm-11 {
	width: 91.6666666667%;
}

.col-sm-12 {
	width: 100%;
}

.col-sm-pull-0 {
	right: auto;
}

.col-sm-pull-1 {
	right: 8.3333333333%;
}

.col-sm-pull-2 {
	right: 16.6666666667%;
}

.col-sm-pull-3 {
	right: 25%;
}

.col-sm-pull-4 {
	right: 33.3333333333%;
}

.col-sm-pull-5 {
	right: 41.6666666667%;
}

.col-sm-pull-6 {
	right: 50%;
}

.col-sm-pull-7 {
	right: 58.3333333333%;
}

.col-sm-pull-8 {
	right: 66.6666666667%;
}

.col-sm-pull-9 {
	right: 75%;
}

.col-sm-pull-10 {
	right: 83.3333333333%;
}

.col-sm-pull-11 {
	right: 91.6666666667%;
}

.col-sm-pull-12 {
	right: 100%;
}

.col-sm-push-0 {
	left: auto;
}

.col-sm-push-1 {
	left: 8.3333333333%;
}

.col-sm-push-2 {
	left: 16.6666666667%;
}

.col-sm-push-3 {
	left: 25%;
}

.col-sm-push-4 {
	left: 33.3333333333%;
}

.col-sm-push-5 {
	left: 41.6666666667%;
}

.col-sm-push-6 {
	left: 50%;
}

.col-sm-push-7 {
	left: 58.3333333333%;
}

.col-sm-push-8 {
	left: 66.6666666667%;
}

.col-sm-push-9 {
	left: 75%;
}

.col-sm-push-10 {
	left: 83.3333333333%;
}

.col-sm-push-11 {
	left: 91.6666666667%;
}

.col-sm-push-12 {
	left: 100%;
}

.col-sm-offset-0 {
	margin-left: 0%;
}

.col-sm-offset-1 {
	margin-left: 8.3333333333%;
}

.col-sm-offset-2 {
	margin-left: 16.6666666667%;
}

.col-sm-offset-3 {
	margin-left: 25%;
}

.col-sm-offset-4 {
	margin-left: 33.3333333333%;
}

.col-sm-offset-5 {
	margin-left: 41.6666666667%;
}

.col-sm-offset-6 {
	margin-left: 50%;
}

.col-sm-offset-7 {
	margin-left: 58.3333333333%;
}

.col-sm-offset-8 {
	margin-left: 66.6666666667%;
}

.col-sm-offset-9 {
	margin-left: 75%;
}

.col-sm-offset-10 {
	margin-left: 83.3333333333%;
}

.col-sm-offset-11 {
	margin-left: 91.6666666667%;
}

.col-sm-offset-12 {
	margin-left: 100%;
}

#minicart {
	display: block;
}

body.account .edit-address-link a {
	font-size: 12px;
}

body.account .modal-body .control-group input:not([type="radio"]) {
	height: 35px;
}

.slider .col-xs-12,
.slider body.account .profile-detail-display,
body.account .slider .profile-detail-display,
.slider
      body.account .address-display-block,
body.account .slider .address-display-block {
	padding-right: 7px;
}

.slider .container {
	padding: 0 20px;
}

.slider .slide {
	border-radius: 5px 5px 0 0;
}

*:focus {
	outline: none !important;
}

}

@media (min-width: 992px) {

.container {
	width: 100%;
}

.wrapper--narrow {
	width: 70%;
	max-width: 70%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float: left;
}

.col-md-1 {
	width: 8.3333333333%;
}

.col-md-2 {
	width: 16.6666666667%;
}

.col-md-3 {
	width: 25%;
}

.col-md-4 {
	width: 33.3333333333%;
}

.col-md-5 {
	width: 41.6666666667%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 58.3333333333%;
}

.col-md-8 {
	width: 66.6666666667%;
}

.col-md-9 {
	width: 75%;
}

.col-md-10 {
	width: 83.3333333333%;
}

.col-md-11 {
	width: 91.6666666667%;
}

.col-md-12 {
	width: 100%;
}

.col-md-pull-0 {
	right: auto;
}

.col-md-pull-1 {
	right: 8.3333333333%;
}

.col-md-pull-2 {
	right: 16.6666666667%;
}

.col-md-pull-3 {
	right: 25%;
}

.col-md-pull-4 {
	right: 33.3333333333%;
}

.col-md-pull-5 {
	right: 41.6666666667%;
}

.col-md-pull-6 {
	right: 50%;
}

.col-md-pull-7 {
	right: 58.3333333333%;
}

.col-md-pull-8 {
	right: 66.6666666667%;
}

.col-md-pull-9 {
	right: 75%;
}

.col-md-pull-10 {
	right: 83.3333333333%;
}

.col-md-pull-11 {
	right: 91.6666666667%;
}

.col-md-pull-12 {
	right: 100%;
}

.col-md-push-0 {
	left: auto;
}

.col-md-push-1 {
	left: 8.3333333333%;
}

.col-md-push-2 {
	left: 16.6666666667%;
}

.col-md-push-3 {
	left: 25%;
}

.col-md-push-4 {
	left: 33.3333333333%;
}

.col-md-push-5 {
	left: 41.6666666667%;
}

.col-md-push-6 {
	left: 50%;
}

.col-md-push-7 {
	left: 58.3333333333%;
}

.col-md-push-8 {
	left: 66.6666666667%;
}

.col-md-push-9 {
	left: 75%;
}

.col-md-push-10 {
	left: 83.3333333333%;
}

.col-md-push-11 {
	left: 91.6666666667%;
}

.col-md-push-12 {
	left: 100%;
}

.col-md-offset-0 {
	margin-left: 0%;
}

.col-md-offset-1 {
	margin-left: 8.3333333333%;
}

.col-md-offset-2 {
	margin-left: 16.6666666667%;
}

.col-md-offset-3 {
	margin-left: 25%;
}

.col-md-offset-4 {
	margin-left: 33.3333333333%;
}

.col-md-offset-5 {
	margin-left: 41.6666666667%;
}

.col-md-offset-6 {
	margin-left: 50%;
}

.col-md-offset-7 {
	margin-left: 58.3333333333%;
}

.col-md-offset-8 {
	margin-left: 66.6666666667%;
}

.col-md-offset-9 {
	margin-left: 75%;
}

.col-md-offset-10 {
	margin-left: 83.3333333333%;
}

.col-md-offset-11 {
	margin-left: 91.6666666667%;
}

.col-md-offset-12 {
	margin-left: 100%;
}

header.menu-persistente {
	display: block;
}

.bread-crumb {
	padding-left: 0;
}

.modal .close-modal {
	margin-left: 268px;
}

.modal .modal-container {
	width: 600px;
	margin-left: -262px;
	height: 700px;
}

body.account main .container {
	padding: 50px 30px;
}

body.account .profile-detail-display,
body.account .address-display-block {
	margin-top: 0;
	width: 49%;
	margin-right: 2%;
	min-height: 390px;
}

body.tapume .tapume-top__logo {
	padding: 35px 0;
}

body.tapume .tapume-body__title {
	font-size: 48px;
	line-height: 60px;
	padding: 45px 0;
}

body.tapume .tapume-body__subtitle {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 45px;
}

body.tapume .tapume-body__obs {
	margin-top: 40px;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

.visible-md {
	display: block !important;
}

table.visible-md {
	display: table;
}

tr.visible-md {
	display: table-row !important;
}

th.visible-md,
td.visible-md {
	display: table-cell !important;
}

.visible-md-block {
	display: block !important;
}

.visible-md-inline {
	display: inline !important;
}

.visible-md-inline-block {
	display: inline-block !important;
}

.hidden-md {
	display: none !important;
}

}

@media (min-width: 1200px) {

.visible-lg {
	display: block !important;
}

table.visible-lg {
	display: table;
}

tr.visible-lg {
	display: table-row !important;
}

th.visible-lg,
td.visible-lg {
	display: table-cell !important;
}

.visible-lg-block {
	display: block !important;
}

.visible-lg-inline {
	display: inline !important;
}

.visible-lg-inline-block {
	display: inline-block !important;
}

.hidden-lg {
	display: none !important;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	float: left;
}

.col-lg-1 {
	width: 8.3333333333%;
}

.col-lg-2 {
	width: 16.6666666667%;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.3333333333%;
}

.col-lg-5 {
	width: 41.6666666667%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-7 {
	width: 58.3333333333%;
}

.col-lg-8 {
	width: 66.6666666667%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-10 {
	width: 83.3333333333%;
}

.col-lg-11 {
	width: 91.6666666667%;
}

.col-lg-12 {
	width: 100%;
}

.col-lg-pull-0 {
	right: auto;
}

.col-lg-pull-1 {
	right: 8.3333333333%;
}

.col-lg-pull-2 {
	right: 16.6666666667%;
}

.col-lg-pull-3 {
	right: 25%;
}

.col-lg-pull-4 {
	right: 33.3333333333%;
}

.col-lg-pull-5 {
	right: 41.6666666667%;
}

.col-lg-pull-6 {
	right: 50%;
}

.col-lg-pull-7 {
	right: 58.3333333333%;
}

.col-lg-pull-8 {
	right: 66.6666666667%;
}

.col-lg-pull-9 {
	right: 75%;
}

.col-lg-pull-10 {
	right: 83.3333333333%;
}

.col-lg-pull-11 {
	right: 91.6666666667%;
}

.col-lg-pull-12 {
	right: 100%;
}

.col-lg-push-0 {
	left: auto;
}

.col-lg-push-1 {
	left: 8.3333333333%;
}

.col-lg-push-2 {
	left: 16.6666666667%;
}

.col-lg-push-3 {
	left: 25%;
}

.col-lg-push-4 {
	left: 33.3333333333%;
}

.col-lg-push-5 {
	left: 41.6666666667%;
}

.col-lg-push-6 {
	left: 50%;
}

.col-lg-push-7 {
	left: 58.3333333333%;
}

.col-lg-push-8 {
	left: 66.6666666667%;
}

.col-lg-push-9 {
	left: 75%;
}

.col-lg-push-10 {
	left: 83.3333333333%;
}

.col-lg-push-11 {
	left: 91.6666666667%;
}

.col-lg-push-12 {
	left: 100%;
}

.col-lg-offset-0 {
	margin-left: 0%;
}

.col-lg-offset-1 {
	margin-left: 8.3333333333%;
}

.col-lg-offset-2 {
	margin-left: 16.6666666667%;
}

.col-lg-offset-3 {
	margin-left: 25%;
}

.col-lg-offset-4 {
	margin-left: 33.3333333333%;
}

.col-lg-offset-5 {
	margin-left: 41.6666666667%;
}

.col-lg-offset-6 {
	margin-left: 50%;
}

.col-lg-offset-7 {
	margin-left: 58.3333333333%;
}

.col-lg-offset-8 {
	margin-left: 66.6666666667%;
}

.col-lg-offset-9 {
	margin-left: 75%;
}

.col-lg-offset-10 {
	margin-left: 83.3333333333%;
}

.col-lg-offset-11 {
	margin-left: 91.6666666667%;
}

.col-lg-offset-12 {
	margin-left: 100%;
}

}

@media (max-width: 767px) {

.visible-xs {
	display: block !important;
}

table.visible-xs {
	display: table;
}

tr.visible-xs {
	display: table-row !important;
}

th.visible-xs,
td.visible-xs {
	display: table-cell !important;
}

.visible-xs-block {
	display: block !important;
}

.visible-xs-inline {
	display: inline !important;
}

.visible-xs-inline-block {
	display: inline-block !important;
}

.hidden-xs {
	display: none !important;
}

}

@media (max-width: 479px) {

body.account .modal-body {
	height: calc(100vh - 65px - 70px);
}

}

